.addModel {
  position: absolute;
  top: 150px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: rgba(99, 99, 99, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.modell {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  width: 700px;
  height: 530px;
  margin-top: -50px;
}
.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.inputAdd {
  height: 28px;
  width: 310px;
  margin: 10px 20px;
  background-color: rgb(230, 230, 230);
  border: 0.5px solid rgb(182, 182, 182);
  border-radius: 3px;
}
.labelAdd {
  color: #222222;
  font-weight: 900;
  font-size: 12px;
  padding-left: 20px;
}
.parentBtn {
  display: flex;
  padding-left: 480px;
}

.AddBtn {
  width: 100px;
  height: 37px;
  margin: 5px;
  color: rgb(75, 75, 75);
  cursor: pointer;
  border-radius: 3px;
}

#ajouter {
  background-color: #7367f0;
  color: rgb(255, 255, 255);
  border: 1px solid rgb(73, 73, 73);
}
