.loginInterface img {
	height: 790px;
}
.rightSection {
	width: -webkit-fill-available;
	row-gap: 20px;
}
.rightSection .welcomLabel {
	font-size: 20pt;
	font-weight: bolder;
}
.signInBtn {
	width: 310px;
	height: 35px;
	font-weight: bold;
	color: #fff;
	background-color: #7367f0;
	border-radius: 5px;
	border: none;
}
.passwordLabel {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: -webkit-fill-available;
}
.rememberMeBox {
	height: 15px;
	width: 15px;
}
.colored {
	color: #7367f0;
	cursor: pointer;
}
span.colored {
	font-weight: bold;
}
.line span {
	width: 120px;
	height: 0;
	border: 0.1px solid rgb(183, 182, 182);
}
.line,
.socialMediaIcons {
	column-gap: 15px;
}
.alert {
	font-weight: bold;
	color: rgb(234, 105, 105);
}
